.cast {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  list-style-type: none;
}

.cast li {
  padding: 20px;
}

.cast li p {
  padding: 0;
  margin: 0;
}

.photo {
  width: 200px;
  height: 300px;
}

.loading {
  margin: 40px;
  font-size: 20px;
}